/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 60px; /* для фиксированного header */
}

/* Основная часть сайта */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
}

/* Профиль пользователя */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #333;
}

.profile-info {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.stats {
  margin-top: 15px;
  font-size: 16px;
  color: #777;
  text-align: center;
}

/* Контейнер для шахматной доски и кнопок */
.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  width: 400px;
  margin: auto;
}

.info {
  width: 400px;
  margin: auto;
}

.move-history {
  max-height: 70px;
  overflow-y: scroll;
}

h1 {
  font-size: 32px;
  margin: 0;
  padding-bottom: 20px;
  color: #333;
}

/* Кнопки */
.buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.buttons button {
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.buttons button:hover {
  background-color: #555;
  transform: translateY(-3px);
  color: #ddd;
}

/* Секция с последними играми */
.sidebar {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.game-item {
  margin-bottom: 15px;
}

.game-item p {
  margin: 5px 0;
  font-size: 16px;
}

/* Нижняя часть страницы */
.footer {
  text-align: center;
  bottom: 20px;
  font-size: 14px;
  color: #777;
  position: relative;
  top: 5px;
}

/* Верхняя часть страницы */
#logoChessRu {
  width: 120px;
  height: 57px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.nav-links li {
  margin: 0;
  padding-left: 35px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  color: #7f7f7f;
}

.nav-links a:active {
  color: #d7d7d7;
}

/* Базовые стили для блоков победы и проигрыша */
.result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  color: white;
  display: none;
  z-index: 10000;
  animation: fadeIn 0.5s ease-out;
}

/* Стили для блока победы */
.win {
  background-color: #4caf50;
}

/* Стили для блока поражения */
.lose {
  background-color: #f44336;
}

/* Кнопка в блоке победы/поражения */
.result button {
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 20px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result button:hover {
  background-color: #eee;
}

/* Анимация плавного появления */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .main-section {
    order: 2;
  }

  .profile,
  .sidebar {
    order: 1;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}
